*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    overflow-x: hidden; 
}
header{
    background-color: yellow;
    float:right;
    width:100%;
}
header div,nav{
    float:left;
}
header div{
    padding:1% 8% 1% 10%;
}

.logo img{
    width:60%;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
nav li {
    display:inline;
    
    
}
nav a{
    color:black;
    display:inline-block;
    text-align: center;
    padding: 1.7em 1em;
    text-decoration: none;
  
}

.musica{
    border-top: 2px solid rgb(242,99,163);
    clear: both;
    border-width: thick;
    float: left;
    margin: 3em 6em;
}
.musica h2{
    width: fit-content;
    padding: 0.3em;
    margin: 0;
    background-color:rgb(242,99,163);
    margin-top: -22px;
    color:white;
}
article{
    float:left;
    margin:1em 0.1em;
    width:30%;
}
article img{
    display:block;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height:13em;
}

.deportes{
    border-top: 2px solid rgb(68,200,70);
    clear: both;
    border-width: thick;
    float: left;
    margin: 3em 6em;
}
.deportes h2{
    width: fit-content;
    padding: 0.3em;
    margin: 0;
    background-color:rgb(68,200,70);
    margin-top: -22px;
    color:white;
}
article a{
    display:block;
    font-weight: bold;
    color:black;
    text-decoration: none;
}
article a:hover{
    text-decoration:underline;
    text-decoration-color: yellow;
    text-decoration-style: solid;
}
article span{
    color:gray;
    margin-top:0.3em;
}

footer{
    clear:both;
    text-align: center;
    background-color: yellow;
    position:relative;
    padding : 2em 0;
}
