*{
    box-sizing: border-box;
    margin:0 auto;
}
body{
    margin:0;
    padding:0;
}
header{
    background: yellow;
    width:100%;
    padding:0;
    margin-bottom:5%;
}
.logo img{
    padding:10px;
    width:40%;
}

.nav {
    height:100%;
}
.nav a{

    display:inline-block;
    padding-top:15%; 
    width:100%;
    height:100%;
    font-size:100%;
    color:black;
    
}
.nav li{
    width:25%;
    padding:1%;
    display:inline;
}
section  a{
    display:block;
    text-decoration:none;
    color:black;
}
.musica-heading{
    background-color:pink;
}
.musica-heading h2{
    color:white;
    display:block;
}
.deportes-heading{
    background-color:rgb(12, 202, 53);
}
section span{
    color:rgba(126, 126, 126, 0.829);
}
.musica img{
    width:100%;
    height:300px;
}

.deportes img{
    width:100%;
    height:300px;
}